{% extends 'base.html' %}

{% block head_title %}
Head Title Test!
{% endblock head_title %}

{% block content %}

<div class = 'row text-center'>
    <div class = 'col'>
        <h1> Welcome to Bark</h1>
    </div>
</div>

<div class = 'row mb-3'>
    <div class = 'col-md-4 mx-auto col-10'>
        <form class = 'form' method = 'POST' action = '/create-bark'>
            {% csrf_token %}
            <input type = 'hidden' value = '/' name = 'next' />
            <textarea class = 'form-control' name = 'content' placeholder = 'Your bark...'></textarea>
            <button type = 'submit' class = 'btn btn-primary'> Bark </button>

        </form>
    </div>
</div>

<div class = 'row' id = 'barks'>
    Loading...
</div>

<script>
    const barksElement = document.getElementById("barks") // Get HTML element
    // barksElement.innerHTML = 'Loading...' // Set HTML in element

    // var el1 ="<h1>Hi there 1</h1>"
    // var el2 ="<h1>Hi there 2</h1>"
    // var el3 ="<h1>Hi there 3</h1>"
    // barksElement.innerHTML = el1 + el2 + el3

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/barks"
    const responseType = "json"

    function handleDidLike(bark_id, currentCount) {
        console.log(bark_id, currentCount)
    }

    function likeBtn(bark) {
        return "<button class = 'btn btn-primary btn-sm' onclick = handleDidLike(" + bark.id + ","+ bark.likes + ")>" + bark.likes + " Likes </button>"
    }

    function formatBarkElement(bark) {
        var formattedBark = "<div class = 'col-12 col-md-10 mx-auto border rounded py-3 mb-4 bark' id = bark-'" + bark.id 
        + "'><p>" + bark.content 
            + "</p><div class = 'btn-group'>" + likeBtn(bark)
            + "</div></div>"
        return formattedBark
    }

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        console.log(xhr.response)
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        var finalBarkStr = ""
        var i;
        for(i = 0; i < listedItems.length; ++i) {
            var barkObj = listedItems[i]
            var currentItem = formatBarkElement(barkObj)
            finalBarkStr += currentItem
        }
        barksElement.innerHTML = finalBarkStr
        
    }
    xhr.send()
</script>

{% endblock content %}