{% extends 'base.html' %}

{% block head_title %}
Head Title Test!
{% endblock head_title %}

{% block content %}

<div class = 'row text-center'>
    <div class = 'col'>
        <h1> Welcome to Bark</h1>
    </div>
</div>

<div class = 'row mb-3'>
    <div class = 'col-md-4 mx-auto col-10'>
        <form class = 'form' id = 'bark-create-form' method = 'POST' action = '/create-bark'>
            {% csrf_token %}
            <input type = 'hidden' value = '/' name = 'next' />
            <textarea required = 'requred' class = 'form-control' name = 'content' placeholder = 'Your bark...'></textarea>
            <button type = 'submit' class = 'btn btn-primary'> Bark </button>

        </form>
    </div>
</div>

<div class = 'row' id = 'barks'>
    Loading...
</div>

<script>
    function handleBarkCreateFormDidSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function() {
            if(xhr.status === 201) {
                const newBark = xhr.response
                const newBarkElement = formatBarkElement(newBark)
                // Set newest tweets first
                const ogHtml = barksContainerElement.innerHTML
                barksContainerElement.innerHTML = newBarkElement + ogHtml
                myForm.reset()
            }
        }
        xhr.send(myFormData)
    }

    const barkCreateFormEl = document.getElementById("bark-create-form")
    barkCreateFormEl.addEventListener("submit", handleBarkCreateFormDidSubmit)

    const barksContainerElement = document.getElementById("barks") // Get HTML element

    function loadBarks(barksElement) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = "/barks"
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            const serverResponse = xhr.response
            var listedItems = serverResponse.response
            var finalBarkStr = ""
            var i;
            for(i = 0; i < listedItems.length; ++i) {
                var barkObj = listedItems[i]
                var currentItem = formatBarkElement(barkObj)
                finalBarkStr += currentItem
            }
            barksElement.innerHTML = finalBarkStr
        }
        xhr.send()
    }

    loadBarks(barksContainerElement)

    function handleDidLike(bark_id, currentCount) {
        console.log(bark_id, currentCount)
    }

    function likeBtn(bark) {
        return "<button class = 'btn btn-primary btn-sm' onclick = handleDidLike(" + bark.id + ","+ bark.likes + ")>" + bark.likes + " Likes </button>"
    }

    function formatBarkElement(bark) {
        var formattedBark = "<div class = 'col-12 col-md-10 mx-auto border rounded py-3 mb-4 bark' id = bark-'" + bark.id 
        + "'><p>" + bark.content 
            + "</p><div class = 'btn-group'>" + likeBtn(bark)
            + "</div></div>"
        return formattedBark
    }


</script>

{% endblock content %}