{% extends 'base.html' %}

{% block head_title %}
Head Title Test!
{% endblock head_title %}

{% block content %}

<div class = 'row text-center'>
    <div class = 'col'>
        <h1> Welcome to Bark</h1>
    </div>
</div>

<div class = 'row mb-3'>
    <div class = 'col-md-4 mx-auto col-10'>
        <form class = 'form' id = 'bark-create-form' method = 'POST' action = '/create-bark'>
            {% csrf_token %}
            <div class = 'd-none alert alert-danger' id = 'bark-create-form-error'></div>
            <input type = 'hidden' value = '/' name = 'next' />
            <textarea required = 'requred' class = 'form-control' name = 'content' placeholder = 'Your bark...'></textarea>
            <button type = 'submit' class = 'btn btn-primary'> Bark </button>

        </form>
    </div>
</div>

<div class = 'row' id = 'barks'>
    Loading...
</div>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function handleBarkFormError(msg, display) {
        var myErrorDiv = document.getElementById("bark-create-form-error")
        // Show error
        if( display === true) {
            myErrorDiv.setAttribute("class", "d-block alert alert-danger")
            myErrorDiv.innerText = msg
        // Hide Error
        } else {
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }

    function handleBarkCreateFormDidSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function() {
            if(xhr.status === 201) {
                handleBarkFormError("", false)
                const newBark = xhr.response
                const newBarkElement = formatBarkElement(newBark)
                // Set newest tweets first
                const ogHtml = barksContainerElement.innerHTML
                barksContainerElement.innerHTML = newBarkElement + ogHtml
                myForm.reset()
            } else if (xhr.status === 400) {
                const errorJson = xhr.response
                const contentError = errorJson.content
                let contentErrorMsg;
                if(contentError) {
                    contentErrorMsg = contentError[0]
                    if(contentErrorMsg) {
                        handleBarkFormError(contentErrorMsg, true)
                    }
                } else {
                    alert("An error has occurred. Please try again.")
                }
            } else if (xhr.status == 401) {
                alert("Please log in.")
                window.location.href = "/login"
            } else if (xhr.status === 403) {
                alert("Please log in.")
                window.location.href = "/login"
            } 
            else if (xhr.status === 500) {
                alert("There was an interval server error. Please try again.")
            }
        }
        xhr.onerror = function() {
            alert("An error has occurred. Please try again later.")
        }
        xhr.send(myFormData)
    }

    const barkCreateFormEl = document.getElementById("bark-create-form")
    barkCreateFormEl.addEventListener("submit", handleBarkCreateFormDidSubmit)

    const barksContainerElement = document.getElementById("barks") // Get HTML element

    function loadBarks(barksElement) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = "/barks"
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            const serverResponse = xhr.response
            const listedItems = serverResponse
            var finalBarkStr = ""
            var i;
            for(i = 0; i < listedItems.length; ++i) {
                var barkObj = listedItems[i]
                var currentItem = formatBarkElement(barkObj)
                finalBarkStr += currentItem
            }
            barksElement.innerHTML = finalBarkStr
        }
        xhr.send()
    }

    loadBarks(barksContainerElement)

    function handleBarkActionBtn(bark_id, currentCount, action) {
        console.log(bark_id, currentCount)
        const url = "/api/barks/action"
        const method = "POST"
        const data = JSON.stringify({
            id: bark_id,
            action: action
        })
        const xhr = new XMLHttpRequest()
        const csrftoken = getCookie('csrftoken');
        xhr.open(method, url)
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
        xhr.onload = function() {
            // to be fixed using react.js to handle state better
            loadBarks(barksContainerElement)
        }
        xhr.send(data)
        return
    }

    function likeBtn(bark) {
        return "<button class = 'btn btn-primary btn-sm' onclick = handleBarkActionBtn(" + bark.id + ","+ bark.likes + ",'like')>" + bark.likes + " Likes </button>"
    }

    function unlikeBtn(bark) {
        return "<button class = 'btn btn-outline-primary btn-sm' onclick = handleBarkActionBtn(" + bark.id + ","+ bark.likes + ",'unlike')> Unlike </button>"
    }

    function rebarkBtn(bark) {
        return "<button class = 'btn btn-outline-success btn-sm' onclick = handleBarkActionBtn" + bark.id + ","+ bark.likes + ",'rebark')> Rebark </button>"
    }

    function formatBarkElement(bark) {
        var formattedBark = "<div class = 'col-12 col-md-10 mx-auto border rounded py-3 mb-4 bark' id = bark-'" + bark.id 
        + "'><p>" + bark.content 
            + "</p><div class = 'btn-group'>" + likeBtn(bark) + unlikeBtn(bark) + rebarkBtn(bark)
            + "</div></div>"
        return formattedBark
    }


</script>

{% endblock content %}